<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <th style="white-space:nowrap; text-align:left; width:5%">Count</th>
        <th style="white-space:nowrap; text-align:left; width:20%">Regional Office</th>
        <th style="white-space:nowrap; text-align:left; width:15%">PID</th>
        <th style="white-space:nowrap; text-align:left; width:20%">Date Application Received</th>
        <th style="white-space:nowrap; text-align:left; width:15%">Type of Form</th>
        <th style="white-space:nowrap; text-align:left; width:10%">e-VA</th>
        <th style="white-space:nowrap; text-align:left; width:10%">Tele-counseling</th>
        <th style="white-space:nowrap; text-align:left; width:5%">Total</th>
      </tr>
      <% @submitted_claims.each.with_index do |claim, index|
            parsed_form = claim.parsed_form
      %>
      <tr>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(index + 1) %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(parsed_form['veteranInformation']['regionalOffice']) %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(parsed_form['veteranInformation']['pid']) %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(claim.created_at.to_s) %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(claim.form_id) %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(parsed_form['useEva'] ? 'Yes' : 'No') %></td>
        <td style="white-space:nowrap"><%= ERB::Util.html_escape(parsed_form['useTelecounseling'] ? 'Yes' : 'No') %></td>
        <td style="white-space:nowrap"><%= @total %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
