<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <b>Your direct deposit information changed.</b>
    </p>
    <p>
      We're sending this email to confirm that you've recently changed your direct deposit information in your VA.gov account profile. We'll use your updated information to deposit any benefits you may receive.
    </p>
    <p>
      <b>If you didn't make this change, please call us right away.</b>
    </p>
    <p>
      Call <a href="tel:1-800-827-1000">800-827-1000</a> (TTY: <a href="tel:1-800-829-4833">800-829-4833</a>). We're here Monday through Friday, 8:00 a.m. to 9:00 p.m. ET. We can help you take the steps you need to protect your bank account information and prevent fraud.
    </p>
    <p>
      <a href="https://www.va.gov/profile?utm_source=gov-delivery&utm_medium=email&utm_campaign=<%=self.class::GA_CAMPAIGN_NAME %>">Go to your VA.gov profile</a>
    </p>
    <img src="https://www.google-analytics.com/collect?v=1&tid=<%=@google_analytics_tracking_id%>&cid=<%=@google_analytics_client_id%>&t=event&ec=email&el=<%=self.class::GA_LABEL %>&ea=open&cn=<%=self.class::GA_CAMPAIGN_NAME %>&cm=email&cs=gov-delivery&dp=<%=self.class::GA_DOCUMENT_PATH %>"/>
  </body>
</html>
