<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @disabilities.pluck('diagnosticCode').join(', ') %>
    <table border="1" cellspacing="1" cellpadding="5"><thead>
        <tr>
          <td>Benefit Claim Id</td>
          <td>Submission Date</td>
          <td>Submission Time</td>
          <td>Submission ID</td>
        </tr>
      </thead><tbody>
        <tr>
          <td><%= @submitted_claim_id %></td>
          <td><%= @created_at.to_date %></td>
          <td><%= @created_at.strftime '%H:%M:%S' %></td>
          <td><%= @id %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
