<table>
  <thead>
    <tr>
      <% if ids %>
        <th>GUID</th>
      <% end %>
      <th>Consumer Name</th>
      <th>Status</th>
      <th>EVSS Response</th>
      <% if timestamps %>
        <th>Created At</th>
        <th>Updated At</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% claims.each do |claim| %>
      <tr>
        <% if ids %>
          <td><%= claim.id %></td>
        <% end %>
        <td><%= claim.source %></td>
        <td><%= claim.status %></td>
        <td><pre><code><%= JSON.pretty_generate(claim.evss_response) %></code></pre></td>
        <% if timestamps %>
          <td><%= claim.created_at %></td>
          <td><%= claim.updated_at %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
