<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: sans-serif;
        font-size: smaller;
        padding: 10px 0;
      }
      table {
        border-collapse: collapse;
      }
      table tr th, table tr td {
        border: 1px solid #d3d3d3;
        padding: 10px;
      }
      table tr th {
        padding: 5px 10px;
        white-space: nowrap;
        color: #808080;
        font-size: smaller;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
      }
      table tr td {
        padding: 5px 10px;
        vertical-align: top;
      }
      table tr td.right-align {
        text-align: right;
      }
      h3 {
        margin: 30px 0 2px;
      }
      h3 span.title {
        color: #808080;
      }
      hr {
        margin: 25px 0;
      }
    </style>
  </head>
  <body>
    <h1>From <%= @date_from %> -- <%= @date_to %> </h1>

    <hr>

    <h2>Claims Totals</h2>

    <h3><span class="title">Per Consumer Status Counts</span></h3>
    <%= render partial: 'claims_status_table', locals: {claims_consumers: @consumer_claims_totals } unless @consumer_claims_totals.count.zero? %>

    <h3>
      <%= @grouped_claims_errors.count %>
      <span class="title">Error Counts</span>
    </h3>
    <%= render partial: 'counts_table', locals: { statistics: @grouped_claims_errors } unless @grouped_claims_errors.count.zero? %>

    <h3>
      <%= @grouped_claims_warnings.count %>
      <span class="title">Warning Counts</span>
    </h3>
    <%= render partial: 'counts_table', locals: { statistics: @grouped_claims_warnings } unless @grouped_claims_warnings.count.zero? %>

    <h3>
      <%= @flash_statistics.count %>
      <span class="title">Flash Counts</span>
    </h3>
    <%= render partial: 'counts_table', locals: { statistics: @flash_statistics } unless @flash_statistics.count.zero? %>

    <h3>
      <%= @special_issues_statistics.count %>
      <span class="title">Special Issues Counts</span>
    </h3>
    <%= render partial: 'counts_table', locals: { statistics: @special_issues_statistics } unless @special_issues_statistics.count.zero? %>

    <h3>
      <%= @pending_claims_submissions.count %>
      <span class="title">Pending Submissions</span>
    </h3>
    <%= render partial: 'submission_table', locals: { claims: @pending_claims_submissions } unless @pending_claims_submissions.count.zero? %>

    <h3>
      <%= @unsuccessful_claims_submissions.count %>
      <span class="title">Errored Submissions</span>
    </h3>
    <%= render partial: 'submission_table', locals: { claims: @unsuccessful_claims_submissions } unless @unsuccessful_claims_submissions.count.zero? %>

    <hr/>

    <h2>Power of Attorney Totals</h2>

    <h3>
      <%= @poa_totals[:total] %>
      <span class="title">POA Submissions</span>
    </h3>
    <%= render partial: 'poa_status_table', locals: { poa_submissions: @poa_totals } unless @poa_totals.blank? %>

    <h3>
      <%= @unsuccessful_poa_submissions.count %>
      <span class="title">Errored Submissions</span>
    </h3>
    <%= render partial: 'poa_errors_table', locals: { poa_errors: @unsuccessful_poa_submissions } unless @unsuccessful_poa_submissions.count.zero? %>
  </body>
</html>
