<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: sans-serif;
        font-size: smaller;
        padding: 10px 0;
      }
      table {
        border-collapse: collapse;
      }
      table tr th, table tr td {
        border: 1px solid #d3d3d3;
        padding: 10px;
      }
      table tr th {
        padding: 5px 10px;
        white-space: nowrap;
        color: #808080;
        font-size: smaller;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
      }
      table tr td {
        padding: 5px 10px;
        vertical-align: top;
      }
      table tr td.right-align {
        text-align: right;
      }
      table tr td.left-align {
        text-align: left;
      }
      h3 {
        margin: 30px 0 2px;
      }
      h3 span.title {
        color: #808080;
      }
      hr {
        margin: 25px 0;
      }
    </style>
  </head>
  <body>
    <h1><%= @date_from %> - <%= @date_to %> (Eastern Time)</h1>

    <hr>
    <h2>526EZ Claim Submissions</h2>

    <h3><span class="title">Per Consumer Status Counts</span></h3>
    <%= render partial: 'claims_api/claims_status_table', locals: {claims_consumers: @consumer_claims_totals } unless @consumer_claims_totals&.count&.zero? %>

    <h3>
      <%= @unsuccessful_claims_submissions&.count %>
      <span class="title">526 Errored Submissions</span>
    </h3>
    <%= render partial: 'claims_api/submission_table', locals: { claims: @unsuccessful_claims_submissions } unless @unsuccessful_claims_submissions&.count&.zero? %>

    <h3>
      <%= @unsuccessful_va_gov_claims_submissions&.count%>
      <span class="title">526 VA GOV Errored Submissions</span>
    </h3>
    <%= render partial: 'claims_api/submission_grouped_table', locals: { claims: @unsuccessful_va_gov_claims_submissions } unless @unsuccessful_va_gov_claims_submissions&.count&.zero? %>

    <hr>
    <h2>Power of Attorney Submissions</h2>

    <h3><span class="title">Per Consumer Status Counts</span></h3>
    <%= render partial: 'claims_api/poa_status_table', locals: { poa_consumers: @poa_totals } unless @poa_totals.blank? %>

    <h3>
      <%= @unsuccessful_poa_submissions&.count %>
      <span class="title">POA Errored Submissions</span>
    </h3>
    <%= render partial: 'claims_api/poa_errors_table', locals: { poa_errors: @unsuccessful_poa_submissions } unless @unsuccessful_poa_submissions&.count&.zero? %>

    <hr>
    <h2>Evidence Waiver Submissions</h2>

    <h3><span class="title">Per Consumer Status Counts</span></h3>
    <%= render partial: 'claims_api/ews_status_table', locals: { ews_consumers: @ews_totals } unless @ews_totals.blank? %>

    <h3>
      <%= @unsuccessful_evidence_waiver_submissions&.count %>
      <span class="title">EWS Errored Submissions</span>
    </h3>
    <%= render partial: 'claims_api/ews_errors_table', locals: { ews_errors: @unsuccessful_evidence_waiver_submissions } unless @unsuccessful_evidence_waiver_submissions&.count&.zero? %>

    <hr>

    <h2>Intent To File Submissions</h2>

    <% if @itf_totals.blank? %>
      <h3>
        <%= '0' %>
        <span class="title">ITF Submissions</span>
      </h3>
    <% else %>
      <h3><span class="title">Per Consumer Status Counts</span></h3>
      <%= render partial: 'claims_api/itf_status_table', locals: { itf_consumers: @itf_totals } unless @itf_totals.blank? %>
    <% end %>
    <hr>

  </body>
</html>
