<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>

<%= @disability_type.capitalize %> Rapid Ready for Decision | Claim for Increase <br />
<h1>
  VHA <%= @disability_type.capitalize %> Data Summary<br/>
</h1>
<i>Generated automatically on <%= @date.strftime('%m/%d/%Y') %> at <%= @date.strftime('%l:%M %p %Z') %></i>

<p> <br /> </p>

<%= RapidReadyForDecision::FastTrackPdfGenerator.extract_patient_name(@patient_info) %><br />

<% if @patient_info[:birthdate] %>
  DOB: <%= @patient_info[:birthdate].to_date.strftime('%m-%d-%Y') %>
<% end %>

<p> <br /> </p>
