<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>

<p>
  <h3>Active Prescriptions</h3>
  <i>VHA records searched for medication prescriptions active as of <%= Time.zone.today.strftime('%m/%d/%Y') %></i> <br />
  <i>All VAMC locations using VistA/CAPRI were checked</i> <br />
</p>

<% if @disability_type == 'asthma' %>
  <p> <br /> </p>
  <table>
    <tr><td>
      <br/>
      <b>Important!</b> Medications that <b><i>may</i></b> have been prescribed for asthma are marked
      with <font name="DejaVuSans">&#9654;</font>arrows<font name="DejaVuSans">&#9664;</font>.
      Claims adjudicators should check the patient's medical records to see what the medication was
      prescribed for.<br/>
      See "How we identify asthma prescriptions" at the end of this document for more details.
    </td></tr>
  </table>
<% end %>

<% if @assessed_data[:medications].present? %>
  <p> <br /> </p>
  <% @assessed_data[:medications].each do |medication| %>
    <p>
      <% if medication[:flagged] %>
        <font name="DejaVuSans">&#9654;</font>
        <b><%= medication['description'] %></b>
        <font name="DejaVuSans">&#9664;</font>
      <% else %>
        <b><%= medication['description'] %></b>
      <% end %>
      <br />

      <% if medication['dosageInstructions'].present? %>
        <%= medication['dosageInstructions'].join('; ') %>
      <% end %><br />

      <%# TODO: Add test for additional fields and make sure to include additional medications %>

      Prescribed on:
      <% if medication['authoredOn'].present? %>
        <%= medication['authoredOn'][0, 10].to_date.strftime('%m/%d/%Y') %>
      <% end %>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Duration: 
      <% if medication['duration'].present? %>
        <%= medication['duration'] %>
      <% end %>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Refills:
      <% if medication['refills'].present? %>
        <%= medication['refills'] %>
      <% end %><br />

      Route:
      <% if medication['route'].present? %>
        <%= medication['route'] %>
      <% end %>
    </p>
    <p><br/></p>
  <% end %>
<% else %>
  <p><br/></p>
  <h6>No active medications were found in the last year</h6>
<% end %>

<p> <br /> </p>
