<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title ? "#{@page_title} // " : "" %>Flipper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= script_name + bootstrap_css[:src] %>" integrity="<%= bootstrap_css[:hash] %>" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= script_name %>/css/application.css">
  </head>
  <body>
    <div class="row" style="background-color: #192D4E">
      <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark py-2"> <!-- Added py-2 for vertical padding -->
          <div class="container px-4" style="max-width: 1000px;"> <!-- Reduced max-width and added horizontal padding -->
            <div class="d-flex justify-content-between align-items-center w-100">
              <a href="/flipper" class="navbar-brand d-flex align-items-center">
                <span class="fs-2 fw-bold me-2">VA.gov</span>
                <span class="fs-4">Flipper Admin</span>
              </a>
              <div class="navbar-nav ms-auto">
                <a href="https://depo-platform-documentation.scrollhelp.site/developer-docs/feature-toggles-guide" class="navbar-brand" target="_blank">Docs</a>
                <% if RequestStore.store[:flipper_user_email_for_log].blank? && Settings.flipper.github_oauth_key.present? %>
                  <form action="/flipper/login" class="d-inline-block">
                    <%== csrf_input_tag %>
                    <% if defined?(feature_name) %>
                      <input type="hidden" name="feature_name" value="<%= feature_name %>">
                    <% end %>
                    <button type="submit" class="btn d-flex align-items-center" style="background-color: #000000; border-color: #000000; color: #ffffff; transition: all 0.3s ease;" onmouseover="this.style.backgroundColor='#1a1a1a'; this.style.borderColor='#1a1a1a'; this.style.boxShadow='0 0 0 0.25rem rgba(255, 255, 255, 0.2)';" onmouseout="this.style.backgroundColor='#000000'; this.style.borderColor='#000000'; this.style.boxShadow='none';">
                      <svg viewBox="0 0 24 24" aria-hidden="true" class="me-2" style="width: 1.5em;">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z" fill="currentColor"></path>
                      </svg>
                      Login with GitHub
                    </button>
                  </form>
                <% elsif Settings.flipper.github_oauth_key.present? %>
                  <form action="/flipper/logout" class="d-inline-block">
                    <button type="submit" class="btn d-flex align-items-center" style="background-color: #000000; border-color: #000000; color: #ffffff; transition: all 0.3s ease;" onmouseover="this.style.backgroundColor='#1a1a1a'; this.style.borderColor='#1a1a1a'; this.style.boxShadow='0 0 0 0.25rem rgba(255, 255, 255, 0.2)';" onmouseout="this.style.backgroundColor='#000000'; this.style.borderColor='#000000'; this.style.boxShadow='none';">
                      <svg viewBox="0 0 24 24" aria-hidden="true" class="me-2" style="width: 1.5em;">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z" fill="currentColor"></path>
                      </svg>
                      Log out
                    </button>
                  </form>
                <% end %>
              </div>
            </div>
          </nav>
        </div>
      </div>


      <div class="features-links row mt-4">
        <div class="col-12 col-xl-10 offset-xl-1">
          <div class="content row mx-3 mx-sm-4 mx-md-5 px-3 px-sm-4 px-md-5">
            <div class="col-12 col-xl-10 offset-xl-1" id="alerts">
              <% if RequestStore.store[:flipper_user_email_for_log].blank? && Settings.flipper.github_oauth_key.present? %>
                <div class="alert alert-warning text-center fs-6 mb-4" role="alert">
                  If you'd like to modify feature toggles, please login with GitHub.
                </div>
              <% elsif !RequestStore.store[:flipper_authorized] && Settings.flipper.github_oauth_key.present? %>
                <div class="alert alert-warning text-center fs-6 mb-4" role="alert">
                  You are not authorized to perform any actions. Please see <a href="https://depo-platform-documentation.scrollhelp.site/developer-docs/flipper-ui-access" class="alert-link" target="_blank">Flipper UI Access</a> for more information.
                </div>
              <% end %>
            </div>

            <% if !defined?(feature_name) || RequestStore.store[:flipper_authorized] || Settings.flipper.github_oauth_key.blank? %>
              <div class="col-12 col-xl-10 offset-xl-1" id="content"
                <% if !RequestStore.store[:flipper_authorized] && Settings.flipper.github_oauth_key.present?  %>
                  style="pointer-events: none; opacity: 0.5;"
                <% end %>
                >
                <%== yield %>
              </div>
            <% end %>
            <% if (defined?(feature_name) && !@feature.boolean_value && (RequestStore.store[:flipper_authorized] || Settings.flipper.github_oauth_key.blank?)) %>
              <div class="col-12 col-xl-10 offset-xl-1">
                <div class="alert alert-info" role="alert">
                  For more information on how to use actors and groups, please see the <a href="https://depo-platform-documentation.scrollhelp.site/developer-docs/feature-toggles-guide" class="alert-link" target="_blank">Feature Toggles Guide</a>.
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <script src="<%= script_name + popper_js[:src] %>" integrity="<%= popper_js[:hash] %>" crossorigin="anonymous"></script>
    <script src="<%= script_name + bootstrap_js[:src] %>" integrity="<%= bootstrap_js[:hash] %>" crossorigin="anonymous"></script>
    <script src="<%= script_name %>/js/application.js?v=<%= Flipper::VERSION %>"></script>
    <script src="<%= script_name %>/js/version.js?v=<%= Flipper::VERSION %>"></script>
  </body>
</html>
