<h2><span class="title">Faulty <%= appeal_name %></span></h2>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>GUID</th>
      <th>Consumer</th>
      <th>Status</th>
      <th>Code</th>
      <th>Detail</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% faulty_appeals.each do |appeal| %>
    <tr>
      <td><%= appeal_name %></td>
      <td class="right-align"><%= appeal.id %></td>
      <td class="right-align"><%= appeal.source %></td>
      <td class="right-align"><%= appeal.status %></td>
      <td><%= appeal.code %></td>
      <td><%= appeal.detail %></td>
      <td class="center-align">
        <% time = appeal.created_at.in_time_zone('Eastern Time (US & Canada)') %>
        <%= time %><br />
        (<%= distance_of_time_in_words_to_now time %> ago)
      </td>
      </td>
      <td class="center-align">
        <% time = appeal.updated_at.in_time_zone('Eastern Time (US & Canada)') %>
        <%= time %><br />
        (<%= distance_of_time_in_words_to_now time %> ago)
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
