<td>
  <table>
    <tr><td>Count:</td><td style="text-align: right"><%= row['rowcount'] %></td></tr>
    <tr><td>Min:</td><td style="text-align: right"><%= row['min_secs_fmt'] %></td></tr>
    <tr><td>Avg:</td><td style="text-align: right"><%= row['avg_secs_fmt'] %></td></tr>
    <tr><td>Max:</td><td style="text-align: right"><%= row['max_secs_fmt'] %></td></tr>
    <tr><td>Median:</td><td style="text-align: right"><%= row['median_secs_fmt'] %></td></tr>
  </table>
</td>
