<td>
  <table class="nested">
    <tr><td>Count:</td><td style="text-align: right"><%= stats['total'] %></td></tr>
    <tr><td>Min:</td><td style="text-align: right"><%= stats['minimum'] %></td></tr>
    <tr><td>Avg:</td><td style="text-align: right"><%= stats['average'] %></td></tr>
    <tr><td>Max:</td><td style="text-align: right"><%= stats['maximum'] %></td></tr>
    <tr><td>Median:</td><td style="text-align: right"><%= stats['median'] %></td></tr>
  </table>
</td>
