<%
  title = type.eql?('processing') ? 'Submissions Still Processing' : 'Submissions In Success Status'
%>
<h2><%= title %> Prior to <%= @last_month_start.strftime("%B") %> <%= @last_month_start.strftime("%Y") %>:</h2>
<h3>Count <%= collection.count %></h3>
<% if collection.count > 0 %>
  <table>
    <thead>
    <tr>
      <th>CONSUMER</th>
      <th>GUID</th>
      <th>STATUS</th>
      <th>CREATED AT</th>
      <th>LAST UPDATED</th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |row| %>
      <tr>
        <td><%= row['consumer_name'] %></td>
        <td><%= row['guid'] %></td>
        <td><%= row['status'] %></td>
        <td><%= row['created_at'] %></td>
        <td><%= row['updated_at'] %></td>
      </tr>
    <% end if collection %>
    </tbody>
  </table>
<% end %>
