<br>
<br>
<h2>Prior Twelve Months - Elapsed Times by Status (Hours:Minutes:Seconds)</h2>
<table>
  <thead>
  <tr>
    <th>YEAR</th>
    <th>MONTH</th>
    <th>PENDING</th>
    <th>UPLOADED</th>
    <th>RECEIVED</th>
    <th>PROCESSING</th>
    <th>SUCCESS</th>
    <th>PEND TO ERROR</th>
    <th>PEND TO SUCCESS</th>
    <th>PEND TO VBMS</th>
    <th>SUCCESS TO VBMS</th>
  </tr>
  </thead>
  <tbody>
  <% collection.each do |e| %>
    <% e.each_pair do |k,v| %>
      <tr>
        <td><%= k.first(4) %></td>
        <td><%= Date::MONTHNAMES[k.last(2).to_i] %></td>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times', locals: {row: v['pending']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times', locals: {row: v['uploaded']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times', locals: {row: v['received']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times', locals: {row: v['processing']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times', locals: {row: v['success']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_btw_statuses', locals: {row: v['pending2error']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_btw_statuses', locals: {row: v['pending2success']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_btw_statuses', locals: {row: v['pending2vbms']} %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_btw_statuses', locals: {row: v['success2vbms']} %>
      </tr>
    <% end %>
  <% end if collection %>
  </tbody>
</table>
