<br>
<br>
<h2>Prior Twelve Months - Elapsed Times by Status (Hours:Minutes:Seconds)</h2>
<table>
  <thead>
  <tr>
    <th>YEAR</th>
    <th>MONTH</th>
    <th>PENDING</th>
    <th>UPLOADED</th>
    <th>RECEIVED</th>
    <th>PROCESSING</th>
    <th>SUCCESS</th>
    <th>PEND TO ERROR</th>
    <th>PEND TO SUCCESS</th>
    <th>PEND TO VBMS</th>
    <th>SUCCESS TO VBMS</th>
  </tr>
  </thead>
  <tbody>
    <% stats.each do |month_stats| %>
      <tr>
        <td><%= month_stats.year %></td>
        <td><%= Date::MONTHNAMES[month_stats.month] %></td>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['pending'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['uploaded'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['received'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['processing'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/elapsed_status_times',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['success'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_between_statuses',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['pending_to_error'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_between_statuses',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['pending_to_success'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_between_statuses',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['pending_to_vbms'] } %>
        <%= render partial: 'vba_documents/monthly_report_mailer/time_between_statuses',
                   locals: { stats: month_stats.stats['status_elapsed_time_stats']['success_to_vbms'] } %>
      </tr>
    <% end %>
  </tbody>
</table>
