<%= render partial: 'vba_documents/common/table_styling' %>
<h1><%= @last_month_start.strftime("%B") %> <%= @last_month_start.strftime("%Y") %> Monthly Upload Submission Report (<%= @environment.to_s.upcase %>)</h1>
<h2><%= @last_month_start.strftime("%B") %> <%= @last_month_start.strftime("%Y") %> Submissions Per Consumer and Status</h2>
<table>
  <thead>
  <tr>
    <th style="width: 28%">CONSUMER</th>
    <th style="width: 12%">EXPIRED</th>
    <th style="width: 12%">ERRORED</th>
    <th style="width: 12%">PROCESSING *</th>
    <th style="width: 12%">SUCCESS</th>
    <th style="width: 12%">VBMS</th>
    <th style="width: 12%">TOTAL SUBMISSIONS</th></tr>
  </thead>
  <tbody>
  <% @monthly_totals.each do |row| %>
    <tr>
      <td><%= row['consumer_name'] %></td>
      <td style="text-align: right"><%= row['expired'] %></td>
      <td style="text-align: right"><%= row['errored'] %></td>
      <td style="text-align: right"><%= row['processing'] %></td>
      <td style="text-align: right"><%= row['success'] %></td>
      <td style="text-align: right"><%= row['vbms'] %></td>
      <td style="text-align: right"><%= row['total'] %></td>
    </tr>
  <% end if @monthly_totals %>
  </tbody>
  <tfoot>
  <% if @monthly_totals %>
    <tr style="background-color: darkblue">
      <td>Summary Totals</td>
      <td style="text-align: right"><%= @summary_totals['expired'] %></td>
      <td style="text-align: right"><%= @summary_totals['errored'] %></td>
      <td style="text-align: right"><%= @summary_totals['processing'] %></td>
      <td style="text-align: right"><%= @summary_totals['success'] %></td>
      <td style="text-align: right"><%= @summary_totals['vbms'] %></td>
      <td style="text-align: right"><%= @summary_totals['total'] %></td>
    </tr>
  <% end %>
  </tfoot>
</table>
<h5>* Processing statuses include: pending, uploaded, received, and processing</h5>
<br>
<br>
<h2>Prior Twelve Months - Average Time to VBMS (Hours:Minutes:Seconds), Page Counts, and Upload Sizes in MB</h2>
<table>
  <thead>
  <tr>
    <th style="width: 8%"></th>
    <th style="width: 8%"></th>
    <th style="width: 8%"></th>
    <th style="width: 8%">AVG TIME</th>
    <th  style="width: 34%" colspan="4">PAGE COUNTS</th>
    <th  style="width: 34%" colspan="4">UPLOAD SIZE (MB)</th>
  </tr>
  <tr>
    <th>YEAR</th>
    <th>MONTH</th>
    <th>COUNT</th>
    <th>TO VBMS</th>
    <th>MAX</th>
    <th>AVG</th>
    <th>MEDIAN</th>
    <th>MODE</th>
    <th>MAX</th>
    <th>AVG</th>
    <th>MEDIAN</th>
    <th>MODE</th>
  </tr>
  </thead>
  <tbody>
  <% @avg_processing_time.each do |row| %>
    <tr>
      <td><%= row['yyyy'] %></td>
      <td><%= Date::MONTHNAMES[row['mm']] %></td>
      <td style="text-align: right"><%= row['count'].to_s %></td>
      <td style="text-align: right"><%= row['avg_time'].to_s %></td>
      <td style="text-align: right"><%= row['max_pages'].to_s %></td>
      <td style="text-align: right"><%= row['avg_pages'].to_s %></td>
      <td style="text-align: right"><%= row['median_pages'].to_s %></td>
      <td style="text-align: right"><%= row['mode_pages'].to_s %></td>
      <td style="text-align: right"><%= row['max_mb'].to_s %></td>
      <td style="text-align: right"><%= row['avg_mb'].to_s %></td>
      <td style="text-align: right"><%= row['median_size'].to_s %></td>
      <td style="text-align: right"><%= row['mode_size'].to_s %></td>
    </tr>
  <% end if @avg_processing_time %>
  </tbody>
</table>
<br>
<br>
<%= render partial: 'vba_documents/monthly_report_mailer/monthly_rolling_elapsed_times',
           locals: {collection: @rolling_elapsed_times} %>
<br>
<br>
<%= render partial: 'vba_documents/monthly_report_mailer/monthly_processing_success',
           locals: {collection: @last_month_still_processing, type: 'processing'} %>
<br>
<br>
<%= render partial: 'vba_documents/monthly_report_mailer/monthly_processing_success',
           locals: {collection: @last_month_still_success, type: 'success'} %>
