<%= render partial: 'vba_documents/common/table_styling' %>
<h1><%= @report_month %> <%= @report_year %> Monthly Upload Submission Report (<%= @environment.to_s.upcase %>)</h1>
<h2><%= @report_month %> <%= @report_year %> Submissions Per Consumer and Status</h2>
<table>
  <thead>
  <tr>
    <th style="width: 30%">CONSUMER</th>
    <th style="width: 10%">EXPIRED</th>
    <th style="width: 10%">ERRORED</th>
    <th style="width: 10%">PROCESSING *</th>
    <th style="width: 10%">SUCCESS</th>
    <th style="width: 10%">VBMS</th>
    <th style="width: 10%">TOTAL SUBMISSIONS</th>
    <th style="width: 10%">ERROR %</th>
  </tr>
  </thead>
  <tbody>
    <% @stats[0].stats['consumer_stats'].each do |consumer| %>
      <tr>
        <td><%= consumer['consumer_name'] %></td>
        <td style="text-align: right"><%= consumer['expired_count'] %></td>
        <td style="text-align: right"><%= consumer['errored_count'] %></td>
        <td style="text-align: right"><%= consumer['processing_count'] %></td>
        <td style="text-align: right"><%= consumer['success_count'] %></td>
        <td style="text-align: right"><%= consumer['vbms_count'] %></td>
        <td style="text-align: right"><%= consumer['total'] %></td>
        <td style="text-align: right"><%= "#{(consumer['error_percent'] * 100).round(0)} %" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr style="background-color: #ADD8E6">
      <td>Summary Totals</td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['expired_count'] %></td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['errored_count'] %></td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['processing_count'] %></td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['success_count'] %></td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['vbms_count'] %></td>
      <td style="text-align: right"><%= @stats[0].stats['summary_stats']['total'] %></td>
      <td style="text-align: right">
        <%= "#{(@stats[0].stats['summary_stats']['error_percent'] * 100).round(0)} %" %>
      </td>
    </tr>
  </tfoot>
</table>
<h5>* Processing statuses include: pending, uploaded, received, and processing</h5>
<br>
<br>
<h2>Prior Twelve Months - Page Counts and Upload Sizes in MB</h2>
<table>
  <thead>
  <tr>
    <th style="width: 10%"></th>
    <th style="width: 10%"></th>
    <th style="width: 10%"></th>
    <th  style="width: 35%" colspan="4">PAGE COUNTS</th>
    <th  style="width: 35%" colspan="4">UPLOAD SIZE (MB)</th>
  </tr>
  <tr>
    <th>YEAR</th>
    <th>MONTH</th>
    <th>COUNT</th>
    <th>MAX</th>
    <th>AVG</th>
    <th>MEDIAN</th>
    <th>MODE</th>
    <th>MAX</th>
    <th>AVG</th>
    <th>MEDIAN</th>
    <th>MODE</th>
  </tr>
  </thead>
  <tbody>
    <% @stats.each do |month_stats| %>
      <tr>
        <td><%= month_stats.year %></td>
        <td><%= Date::MONTHNAMES[month_stats.month] %></td>
        <td style="text-align: right"><%= month_stats.stats['page_count_stats']['total'] %></td>
        <td style="text-align: right"><%= month_stats.stats['page_count_stats']['maximum'] %></td>
        <td style="text-align: right"><%= month_stats.stats['page_count_stats']['average'] %></td>
        <td style="text-align: right"><%= month_stats.stats['page_count_stats']['median'] %></td>
        <td style="text-align: right"><%= month_stats.stats['page_count_stats']['mode'] %></td>
        <td style="text-align: right"><%= month_stats.stats['upload_size_in_mb_stats']['maximum'] %></td>
        <td style="text-align: right"><%= month_stats.stats['upload_size_in_mb_stats']['average'] %></td>
        <td style="text-align: right"><%= month_stats.stats['upload_size_in_mb_stats']['median'] %></td>
        <td style="text-align: right"><%= month_stats.stats['upload_size_in_mb_stats']['mode'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= render partial: 'vba_documents/monthly_report_mailer/monthly_rolling_elapsed_times', locals: { stats: @stats } %>
