<div>
  <% if RequestStore.store[:flipper_user_email_for_log].blank? && !Rails.env.development? %>
    <p>If you'd like to modify feature toggles, please sign in with GitHub.</p>
    <form action=<%="/flipper/features/#{@feature.key}"%> method="post" class="usa-form">
      <button type="submit" style="background-color:black; width:auto; margin-top:0; padding-left:10px; display:flex; align-items:center">
        <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 1.5em;" >
          <path fill-rule="evenodd" clip-rule="evenodd" style="" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z" fill="white"></path>
        </svg>
        <span style="margin-left:0.5em">Sign in to GitHub</span>
      </button>
    </form>
  <% elsif !RequestStore.store[:flipper_authorized] && !Rails.env.development? %>
    <p>You are not authorized to perform any actions. Please see <a href="https://depo-platform-documentation.scrollhelp.site/developer-docs/flipper-ui-access" target="_blank">Platform Documentation</a> for more information.</p>
    <form action="/flipper/features/logout"  class="usa-form">
      <button type="submit" style="background-color:black; width:auto; margin-top:0; padding-left:10px; display:flex; align-items:center">
        <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 1.5em;" >
          <path fill-rule="evenodd" clip-rule="evenodd" style="" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z" fill="white"></path>
        </svg>
        <span style="margin-left:0.5em">Sign Out</span>
      </button>
    </form>  
  <% else %>
    <% actor_type = FLIPPER_FEATURE_CONFIG['features'].dig(feature_name, 'actor_type')%>
    <% actor_name = actor_type == FLIPPER_ACTOR_STRING ? 'FLIPPER_ID cookie' : 'Logged in Users'  %>
    <% actor_id_name = actor_type == FLIPPER_ACTOR_STRING ? 'ID from FLIPPER_ID cookie' : "email address associated with their login"%>

    <% if params.key?("error") %>
      <div class="alert alert-danger">
        <%= params["error"] %>
      </div>
    <% end %>

    <div class="vads-l-col--9">
      <div class="vads-l-row">
        <div class="vads-l-col">
          <h1 class="vads-u-font-size--xl">
            <%= @feature.key %>
          </h1>

          <p class="vads-u-font-size--sm">
            <%= yaml_features.dig(@feature.key,'description') %>
          </p>

          <div class="feature">
            <p>
              <% if @feature.on? %>
                This feature is <strong>enabled for everyone</strong>.
              <% elsif @feature.off? %>
                This feature is <strong>disabled</strong>.
              <% else %>
                This feature is <strong>enabled with certain conditions</strong>.
              <% end %>
            </p>

            <% if @feature.boolean_value %>
            <p>Conditional toggles are currently disabled. If you want to conditionally enable this feature, you must first disable the feature for everyone.</p>
            <% end %>

            <form action="<%= script_name %>/features/<%= @feature.key %>/boolean" method="post" class="usa-form">
              <%== csrf_input_tag %>
              <% if @feature.off? %>
                <button class="vads-u-margin--0 vads-u-margin-top--1 vads-u-width--auto" type="submit" name="action" value="Enable" title="Enable for everyone">Enable for everyone</button>
              <% else %>
                <button class="vads-u-margin--0 vads-u-margin-top--1 vads-u-width--auto" type="submit" name="action" value="Disable" title="Disable for everyone by clearing all percentages, groups and actors.">Disable for everyone</button>
              <% end %>
            </form>
          </div>
        </div>
      </div>

      <h2 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-margin-bottom--2">
        Conditional Toggles
      </h2>

      <div class="vads-l-row">
        <div class="vads-l-col--6">
          <div class="vads-u-border--1px vads-u-border-color--gray-lighter vads-u-margin-right--1 vads-u-padding--2">
            <form action="<%= script_name %>/features/<%= @feature.key %>/percentage_of_actors" method="post" class="usa-form">
              <fieldset <% if @feature.boolean_value %>disabled<% end %>>
                <%== csrf_input_tag %>
                <label for="percentage-of-actors-input" class="vads-u-margin--0">
                  Percentage of <%= actor_name %>
                </label>
                <input id="percentage-of-actors-input" type="text" name="value" <% if @feature.percentage_of_actors_value > 0 %>value="<%= @feature.percentage_of_actors_value %>"<% end %>>
                <button class="vads-u-margin-top--1 vads-u-width--auto" type="submit">Set value</button>
                <button class="usa-button-secondary vads-u-margin-top--1 vads-u-width--auto" type="submit" name="value" value="0">Disable</button>
              </fieldset>
            </form>
            <p class="vads-u-background-color--gray-lightest vads-u-font-size--sm vads-u-padding--2 vads-u-margin-bottom--0">
            <% if @feature.percentage_of_actors_value > 0 && !@feature.boolean_value %>
              This feature is enabled for <%= @feature.percentage_of_actors_value %>% of <%= actor_name %>.
            <% else %>
              This feature is not enabled by percentage of <%= actor_name %>.
            <% end %>
            </p>
          </div>
        </div>
        <div class="vads-l-col--6">
          <div class="vads-u-border--1px vads-u-border-color--gray-lighter vads-u-margin-left--1 vads-u-padding--2">
            <form action="<%= script_name %>/features/<%= @feature.key %>/percentage_of_time" method="post" class="usa-form">
              <fieldset <% if @feature.boolean_value %>disabled<% end %>>
                <%== csrf_input_tag %>
                <label for="percentage-of-time-input" class="vads-u-margin--0">
                  Percentage of Time
                </label>
                <input id="percentage-of-time-input" type="text" name="value" <% if @feature.percentage_of_time_value > 0 %>value="<%= @feature.percentage_of_time_value %>"<% end %>>
                <button class="vads-u-margin-top--1 vads-u-width--auto" type="submit">Set value</button>
                <button class="usa-button-secondary vads-u-margin-top--1 vads-u-width--auto" type="submit" name="value" value="0">Disable</button>
              </fieldset>
            </form>
            <p class="vads-u-background-color--gray-lightest vads-u-font-size--sm vads-u-padding--2 vads-u-margin-bottom--0">
            <% if @feature.percentage_of_time_value > 0 && !@feature.boolean_value %>
              This feature is enabled <%= @feature.percentage_of_time_value %>% of the time for everyone.
            <% else %>
              This feature is not enabled by percentage of time.
            <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="vads-l-row">
        <div class="vads-l-col">
          <div class="usa-alert usa-alert-info vads-u-margin-bottom--3">
            <div class="usa-alert-body">
              Percentage of <%= actor_name %> functions independently of percentage of time. If you enable 50% of <%= actor_name %> and 25% of time, then the feature will always be enabled for 50% of <%= actor_name %> and occasionally enabled 25% of the time for everyone.
            </div>
          </div>
        </div>
      </div>

      <div class="vads-l-row">
        <div class="vads-l-col--6">
          <div class="vads-u-border--1px vads-u-border-color--gray-lighter vads-u-margin-right--1 vads-u-padding--2">
            <% if @feature.boolean_value || Flipper.groups.empty? || @feature.disabled_groups.empty? %>
              <div>Groups</div>
            <% else %>
              <form action="<%= script_name %>/features/<%= @feature.key %>/groups" method="post" class="usa-form">
                <%== csrf_input_tag %>
                <label for="group-select" class="vads-u-margin-top--0"><%= Flipper::UI.configuration.groups.title %></label>
                <select id="group-select" name="value">
                  <option value="">Select a group...</option>
                  <% @feature.disabled_groups.each do |group| %>
                    <option value="<%= group.name %>"><%= group.name %></option>
                  <% end %>
                </select>
                <button class="vads-u-margin-top--1 vads-u-width--auto" type="submit" name="operation" value="enable">Enable group</button>
              </form>
            <% end %>
            <p class="vads-u-background-color--gray-lightest vads-u-font-size--sm vads-u-padding--2 vads-u-margin-bottom--0">
            <% if Flipper.groups.empty? %>
              There are no groups available. Register groups in Flipper initializer.
            <% elsif @feature.groups_value.empty? || @feature.boolean_value %>
              This feature is not enabled by groups.
            <% elsif @feature.disabled_groups.empty? %>
              This feature is enabled for all available groups (listed below).
            <% else %>
              This feature is enabled for the following groups.
            <% end %>
            </p>
            <% unless @feature.groups_value.empty? %>
              <ul class="vads-u-margin-bottom--0 vads-u-padding--0">
                <% @feature.groups_value.each do |item| %>
                  <li class="vads-u-border--1px vads-u-border-style--dotted vads-u-padding--2" style="list-style-type: none;">
                    <div class="vads-u-display--flex">
                      <div class="vads-u-flex--1"><%= item %></div>
                      <div class="vads-u-flex--auto vads-u-display--flex vads-u-align-items--center">
                        <form action="<%= script_name %>/features/<%= @feature.key %>/groups" method="post" class="usa-form">
                          <%== csrf_input_tag %>
                          <input type="hidden" name="value" value="<%= item %>">
                          <button class="va-button-link vads-u-margin--0" type="submit" name="operation" value="disable" title="Disable <%= item %>">
                            <span class="octicon octicon-x"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="vads-l-col--6">
          <div class="vads-u-border--1px vads-u-border-color--gray-lighter vads-u-margin-left--1 vads-u-padding--2">
            <form action="<%= script_name %>/features/<%= @feature.key %>/actors" method="post" class="usa-form">
              <fieldset <% if @feature.boolean_value %>disabled<% end %>>
                <%== csrf_input_tag %>
                <label for="actor-input" class="vads-u-margin-top--0"><%= actor_name %></label>
                <input id="actor-input" onchange="this.value=this.value.toLowerCase()" type="text" name="value">
                <button class="vads-u-margin-top--1 vads-u-width--auto" type="submit" name="operation" value="enable">Enable user</button>
              </fieldset>
            </form>
            <% if @feature.actors_value.empty? %>
              <p class="vads-u-background-color--gray-lightest vads-u-font-size--sm vads-u-padding--2 vads-u-margin-bottom--0">
                <%= "This feature is not enabled for specific users. To enable for a user, add the user's #{actor_id_name}."%>
              </p>
            <% else %>
              <p class="vads-u-background-color--gray-lightest vads-u-font-size--sm vads-u-padding--2">
                This feature is enabled for the following <%= actor_name %>.
              </p>
              <ul class="vads-u-margin-bottom--0 vads-u-padding--0">
                <% @feature.actors_value.each do |item| %>
                  <li class="vads-u-border--1px vads-u-border-style--dotted vads-u-padding--2" style="list-style-type: none;">
                    <div class="vads-u-display--flex">
                      <div class="vads-u-flex--1"><%= item %></div>
                      <div class="vads-u-flex--auto vads-u-display--flex vads-u-align-items--center">
                        <form action="<%= script_name %>/features/<%= @feature.key %>/actors" method="post" class="usa-form">
                          <%== csrf_input_tag %>
                          <input type="hidden" name="value" value="<%= item %>">
                          <button class="va-button-link vads-u-margin--0" type="submit" name="operation" value="disable" title="Disable <%= item %>">
                            <span class="octicon octicon-x"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>

      <form action="/flipper/features/logout"  class="usa-form" style="float:right">
        <button type="submit" style="background-color:black; width:auto; margin-top:0; padding-left:10px; display:flex; align-items:center">
          <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 1.5em;" >
            <path fill-rule="evenodd" clip-rule="evenodd" style="" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z" fill="white"></path>
          </svg>
          <span style="margin-left:0.5em">Sign Out</span>
        </button>
      </form>
    </div>
  <% end %>
</div>
