<div class="vads-l-row">
  <div class="vads-l-col">
    <table>
      <caption>Features</caption>
      <thead>
        <tr>
          <th>Status</th>
          <th>Feature</th>
          <th>Description</th>
          <th>Enabled Gates</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each do |feature| %>
          <tr>
            <td>
              <%= feature.state.capitalize %>
            </td>
            <td>
              <a href="<%= "#{script_name}/features/#{feature.key}" %>">
                <%= feature.key %>
              </a>
            </td>
            <td>
              <%= yaml_features.dig(feature.key,'description') %>
            </td>
            <td>
              <%= feature.pretty_enabled_gate_names %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
