<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title ? "#{@page_title} // " : "" %>Flipper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= script_name %>/octicons/octicons.css">
    <link rel="stylesheet" href="/formation.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="vads-u-background-color--primary-darkest" role="banner">
      <div class="vads-l-grid-container vads-u-padding-y--3">
        <div class="vads-l-row vads-u-align-items--center">
          <div class="vads-l-col">
            <a class="vads-u-font-size--xl vads-u-color--white vads-u-text-decoration--none" title="VA.gov Flipper Admin Home" href="/flipper">
              <strong>VA.gov</strong>
              <span class="vads-u-margin-left--1 vads-u-font-size--lg" style="font-weight: 300;">Flipper Admin</span>
            </a>
          </div>

          <% if Flipper::UI.configuration.feature_creation_enabled %>
          <div class="vads-l-col--2 vads-u-text-align--right">
            <a class="usa-button vads-u-margin--0" href="<%= script_name %>/features/new">Add Feature</a>
          </div>
          <% end %>
        </div>
      </div>
    </header>

    <div class="vads-l-grid-container" style="overflow-wrap: break-word;">
      <% unless Flipper::UI.configuration.banner_text.nil? %>
      <div class="vads-l-row">
        <div class="alert alert-<%= Flipper::UI.configuration.banner_class %> text-center font-weight-bold">
          <%= Flipper::UI.configuration.banner_text %>
        </div>
      </div>
      <% end %>

      <div class="vads-l-row">
        <nav aria-label="breadcrumb" aria-live="polite" class="vads-l-col va-nav-breadcrumbs">
          <ul class="va-nav-breadcrumbs-list vads-u-margin--0 vads-u-padding--0">
            <% @breadcrumbs.each do |breadcrumb| %>
              <li class="breadcrumb-item <% if breadcrumb.active? %>active<% end %>">
                <% if breadcrumb.active? %>
                  <%= breadcrumb.text %>
                <% else %>
                  <a href="<%= breadcrumb.href %>"><%= breadcrumb.text %></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div class="content vads-l-row">
        <%== yield %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </body>
</html>
