<h2><span class="title"><%= appeal_name %> submissions by status and count</span></h2>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% appeal_status_and_count.each do |status, count| %>
      <tr>
        <td class="right-align"><%= status %></td>
        <td class="right-align"><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><span class="title">Faulty <%= appeal_name %></span></h2>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>GUID</th>
      <th>Consumer</th>
      <th>Status</th>
      <th>Code</th>
      <th>Detail</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% faulty_appeals.each do |appeal| %>
      <tr>
        <td><%= appeal_name %></td>
        <td class="right-align"><%= appeal.id %></td>
        <td class="right-align"><%= appeal.source %></td>
        <td class="right-align"><%= appeal.status %></td>
        <td class="right-align"><%= appeal.code %></td>
        <td class="right-align"><%= appeal.detail %></td>
        <td class="right-align"><%= appeal.created_at %></td>
        <td class="right-align"><%= appeal.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if total_count %>
<h2><span class="title">Total <%= appeal_name %>: <%= total_count %></span></h2>
<% end %>
