<h2><span class="title"><%= title %> submissions by status and count</span></h2>
<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <% status_and_count.each do |status, count| %>
    <tr>
      <td class="right-align"><%= status %></td>
      <td class="right-align"><%= count %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2><span class="title">Faulty <%= title %></span></h2>
<table>
  <thead>
  <tr>
    <th class="evidence-identifiers">Identifiers</th>
    <th>Consumer</th>
    <th>Status</th>
    <th>Code</th>
    <th>Detail</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  </thead>
  <tbody>
  <% faulty.each do |es| %>
    <tr>
      <td class="shrink-spacing">
        <table class="inner vertical">
          <tr>
            <th class="right-align"><abbr title="Evidence Submission">ES</abbr> GUID</th>
            <td><%= es.guid %></td>
          </tr>
          <tr>
            <th class="right-align"><abbr title="Appeal">Ap</abbr> GUID</th>
            <td><%= es.supportable_id %></td>
          </tr>
          <tr>
            <th class="right-align"><abbr title="Upload Submission">US</abbr> GUID</th>
            <td><%= es.upload_submission.guid %></td>
          </tr>
        </table>
      </td>
      <td class="right-align"><%= es.source %></td>
      <td class="right-align"><%= es.status %></td>
      <td class="right-align"><%= es.code %></td>
      <td class="right-align"><%= es.detail %></td>
      <td class="right-align"><%= es.created_at %></td>
      <td class="right-align"><%= es.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if total_count %>
  <h2><span class="title">Total <%= title %>: <%= number_with_delimiter(total_count) %></span></h2>
<% end %>
