<table>
  <thead>
    <tr>
      <th>GUID</th>
      <th>CONSUMER NAME</th>
      <th>STATUS</th>
      <th>CODE</th>
      <th>DETAIL</th>
      <th>CREATED AT</th>
      <th>UPDATED AT</th>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |submission| %>
      <tr>
        <td><%= submission.guid %></td>
        <td><%= submission.consumer_name %></td>
        <td><%= submission.status %></td>
        <td><%= submission.code %></td>
        <td><%= submission.detail %></td>
        <td><%= submission.created_at %></td>
        <td><%= submission.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
