<%= render partial: 'vba_documents/common/table_styling' %>
<h1>From <%= @date_from %> -- <%= @date_to %> (<%= @environment.to_s.upcase %>)</h1>
<h2>Per Consumer Status Counts</h2>

<table>
  <thead>
  <tr>
    <th>CONSUMER</th>
    <% VBADocuments::UploadSubmission::RPT_STATUSES.each do |status| %>
      <th><%= status.upcase %></th>
    <% end %>
    <th>TOTALS</th>
    <th>SUCCESS %</th>
    <th>IN PROCESS %</th>
    <th>ERRORED %</th>
    <th>EXPIRED %</th>
    <th>LOBS</th>
  </tr>
  </thead>
  <tbody>
  <% @consumer_totals.keys.each do |consumer| %>
    <% unless consumer.eql? 'summary' %>
      <tr>
        <td><%= consumer %></td>
        <% VBADocuments::UploadSubmission::RPT_STATUSES.each do |status| %>
          <td style="text-align: right"><%= @consumer_totals[consumer][status] || 0 %></td>
        <% end %>
        <td style="text-align: right"><%= @consumer_totals[consumer][:totals] %></td>
        <td style="text-align: center"><%= @consumer_totals[consumer][:success_rate] %></td>
        <td style="text-align: center"><%= @consumer_totals[consumer][:in_process_rate]%></td>
        <td style="text-align: center"><%= @consumer_totals[consumer][:error_rate] %></td>
        <td style="text-align: center"><%= @consumer_totals[consumer][:expired_rate]%></td>
        <%
          style = 'text-align: center;'
          red = 'color: red; font: italic small-caps bold 12px/30px Georgia, serif;'
          if consumer.eql?(VBADocuments::ReportUnsuccessfulSubmissions::APPEALS_CONSUMER_NAME)
            lobs = @consumer_totals[consumer][:lobs]
            style += red if lobs =~ /EMPTY|NULL/
          end
        %>
        <td style="<%= style %>"><%= @consumer_totals[consumer][:lobs]%></td>
      </tr>
    <% end %>
  <% end if @consumer_totals %>
  </tbody>
  <tfoot>
  <% if @consumer_totals %>
    <% sum_hash = @consumer_totals['summary'] %>
    <tr style="background-color: #ADD8E6">
      <td>SUMMARY TOTALS</td>
      <% VBADocuments::UploadSubmission::RPT_STATUSES.each do |status| %>
        <td style="text-align: right"><%= sum_hash[status] %></td>
      <% end %>
      <td style="text-align: right"><%=sum_hash['total'] %></td>
      <td style="text-align: center"><%= sum_hash['success_rate'] %></td>
      <td style="text-align: center"><%= sum_hash['in_process_rate'] %></td>
      <td style="text-align: center"><%= sum_hash['error_rate'] %></td>
      <td style="text-align: center"><%= sum_hash['expired_rate'] %></td>
      <td></td>
    </tr>
  <% end %>
  </tfoot>
</table>

<br>
<h2>Pending Submissions Count: <%= @pending_submissions.count %></h2>
<%= render partial: 'submission_table', locals: {submissions: @pending_submissions} unless @pending_submissions.count.zero? %>
<br>
<h2>Unsuccessful Count: <%= @unsuccessful_submissions.count %></h2>
<%= render partial: 'submission_table', locals: {submissions: @unsuccessful_submissions } unless @unsuccessful_submissions.count.zero?%>
