<h1>Unsuccessful Submissions <%= 'Summary' if @date_to.monday? %> </h1>
<hr />
<h3>From <%= @date_from %> -- <%= @date_to %> </h3>
<h4> Unsuccessful count: <%= @unsuccessful_submissions.count %>
<%= render partial: 'submission_table', locals: {submissions: @unsuccessful_submissions } %>

<hr>

<h4> Stuck Submissions Count: <%= @stuck_submissions.count %>
<%= render partial: 'submission_table', locals: {submissions: @stuck_submissions} unless @stuck_submissions.count.zero? %>
