<h1>From <%= @date_from %> -- <%= @date_to %> </h1>

<h2> Per Consumer Status Counts </h2>

<table>
  <thead>
    <tr>
        <th>consumer | </th>
        <% VBADocuments::UploadSubmission::ALL_STATUSES.each do |status| %>
        <th><%= status %> | </th>
        <% end %>
        <th>totals | </th>
        <th>errored rate | </th>
        <th>expired rate</th>
    </tr>
  </thead>
  <tbody>
    <% @consumer_totals.each do |consumer| %>
      <tr>
        <td><%= consumer.keys.first %></td>
        <% VBADocuments::UploadSubmission::ALL_STATUSES.each do |status| %>
        <td><%= consumer.values.first[status] || 0 %></td>
        <% end %>
        <td><%= consumer.values.first[:totals] %></td>
        <td><%= consumer.values.first[:error_rate] %></td>
        <td><%= consumer.values.first[:expired_rate]%></td>
      </tr>
    <% end if @consumer_totals %>
  </tbody>
</table>

<h2> Pending Submissions Count: <%= @pending_submissions.count %></h2>
<%= render partial: 'submission_table', locals: {submissions: @pending_submissions} unless @pending_submissions.count.zero? %>

<hr>

<h2> Unsuccessful count: <%= @unsuccessful_submissions.count %></h2>
<%= render partial: 'submission_table', locals: {submissions: @unsuccessful_submissions } %>
